<div class="page-header text-center">
    <h1>Imposto</h1>
</div>

<form name="formulario" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Imposto:</label>
            <input name="name" class="form-control">    
        </div>
        <div class="form-group">
            <label>Custo:</label>
            <input name="custo" class="form-control">
        </div>
        
       <button type="button">Salvar</button>
       <button type="button">Cancelar</button>
    </div>
    
</form>